*{
    padding: 0;
    margin: 0;
}

main{
    width: 1000px;
    margin: 90px auto;
    box-shadow: 0 10px 10px 0 gray;
    border: 2px solid red;
    border-radius: 10px;
}
.ji{
    font-weight: bold;
    width: 250px;
    color: rgb(30, 30, 155);
    padding-top: 130px;
    padding-left: 80px;
}
.ji > h1{
    font-size: 40px;
    margin: 25px 0;
}
.gty{
    
    padding: 10px 0 ;
    
    cursor: pointer;
    margin: 50px 0px;
    width: 125px;
    
}
.gty > a{
    background-color: rgb(30, 30, 155);
    color: white;
    text-decoration: none;
    padding: 16px;
    border-radius: 7px;
    transition: 0.5s;
    
}
.hj{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.ee{
    width: 450px;
    margin-right: 50px;
}
.ee > img{
    width: 100%;
    height: 280px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 300px;
}
.ee >p{
    padding-left: 80px;
    color: gray;
}
.ee > p > span{
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.gty > a:hover{
    background-color: black;
    
}