*{
    padding: 0;
    margin: 0;
}

.fst{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 85);
    color: white;
    font-weight: bold;
    padding: 0 200px;
    border-bottom: 4px solid rgb(82, 11, 148);
    position: sticky;
    top: 0;
}
.fst > div > h2{
    font-size: 30px;
}
.fst > ul{
    display: flex;
    
}
.fst > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}
.fst > ul > li{
    list-style: none;
    margin: 10px 6px;
}
.fst > ul > li > a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
    
}

form{
    width: 800px;
    margin: 80px auto;
    background-color: lightpink;
    padding: 40px 0;
    box-shadow: 10px 10px 10px 15px gray;
    border-radius: 10px;
}
form > h2{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.bbt input{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    width: 360px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 13px;
}
.bbt textarea{
    display: block;
    margin: auto;
    width: 360px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    align-items: center;
    font-size: 15px;
    
}
.bbt > .btn{
    background: linear-gradient(to right, blue , blueviolet, aqua );
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    height: 50px;
    width: 250px;
    font-weight: bold;
    
}
