main{
    background-color:rgba(81, 11, 148, 0.885) ;
    
}
.ll{
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
}
.kk{
    display: flex;
    justify-content: space-between;
}
.kkk{
    font-size: 22px;
    color: rgb(24, 165, 24);
    font-weight: bold;
}
.kkkk{
    color: rgb(24, 165, 24);
}
.kkkk  span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;

}
.pp{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    
}

.ppp > img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 3px solid gray;
    transition: 0.7s;
    border-radius: 20px;
    
}
.pppp {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: -10px 0;
}
.ppp:hover img{
    
    transform: scale(1.1);
    
    
    cursor: pointer;
}
.gg{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.gg a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
.gg h3 a{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
}
.gg h3 a:hover {
    background-color: rgb(4, 58, 4);
    
}
.ggg a{
    
    margin: 5px 10px;
    background-color: antiquewhite;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgba(91, 87, 87, 0.923);
    
}

.gg > .ggg > a:first-child{
    background-color: green;
    color: white;
}