.fst{
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 7, 85, 0.841);
    color: white;
    font-weight: bold;
    padding: 0 200px;
    
}
.fst > div > h2{
    font-size: 30px;
}
.fst > ul{
    display: flex;
    
}
.fst > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}
.fst > ul > li{
    list-style: none;
    margin: 10px 6px;
}
.fst > ul > li > a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
    
}