
.fst{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 7, 85);
    color: white;
    font-weight: bold;
    padding: 0 200px;
    border-bottom: 4px solid rgb(82, 11, 148);
    position: sticky;
    top: 0;
}
.fst > div > h2{
    font-size: 30px;
}
.fst > ul{
    display: flex;
    
}
.fst > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}
.fst > ul > li{
    list-style: none;
    margin: 10px 6px;
}
.fst > ul > li > a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
    
}
.uu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-image: url('website\ banner.jpg');
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uu > input{
    width: 400px;
    height: 30px;
    border: 2px solid gray;
}
.uu > div > i{
    padding: 4px 5px;
    font-size: 22px;
    color: red;
    background-color: green;
    cursor: pointer;
}
main{
    background-color:rgba(81, 11, 148, 0.885) ;
    
}
.ll{
    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 90px;
}
.kk{
    display: flex;
    justify-content: space-between;
}
.kkk{
    font-size: 22px;
    color: rgb(24, 165, 24);
    font-weight: bold;
}
.kkkk{
    color: rgb(24, 165, 24);
}
.kkkk  span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;

}
.pp{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    
}

.ppp > img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border: 3px solid gray;
    transition: 0.7s;
    border-radius: 20px;
    
}
.pppp {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: -10px 0;
}
.ppp:hover img{
    
    transform: scale(1.1);
    
    
    cursor: pointer;
}
.gg{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}
.gg a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
.gg h3 a{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    transition: 0.5s;
}
.gg h3 a:hover {
    background-color: rgb(4, 58, 4);
    
}
.ggg a{
    
    margin: 5px 10px;
    background-color: antiquewhite;
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgba(91, 87, 87, 0.923);
    
}

.gg > .ggg > a:first-child{
    background-color: green;
    color: white;
}
footer{
    background-color: rgb(195, 189, 131);
    

}
.tt{
    width: 1000px;
    margin: auto;
    color: white;
    display: flex;
    padding: 50px 0;
}
.jj{
    width: 250px;
    padding: 0 60px;
    
}
.jj > .jjj{
    padding-top: 30px;
}
.jj a{
    text-decoration: none;
    color: white;
}
.jjjj{
    padding-top: 20px;
}
.op div i{
    font-size: 30px;
    background-color: rgb(6, 6, 47);
    padding: 5px 2px;
    border-radius: 5px;
}
.hh{
    padding-top: 75px;
    font-weight: bold;
    font-size: 17px;
}