.fst{
    display: flex;
    justify-content: space-between;
    background-color: rgba(7, 7, 85, 0.841);
    color: white;
    font-weight: bold;
    padding: 0 200px;
    border-bottom: 4px solid rgba(81, 11, 148, 0.885);
}
.fst > div > h2{
    font-size: 30px;
}
.fst > ul{
    display: flex;
    
}
.fst > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}
.fst > ul > li{
    list-style: none;
    margin: 10px 6px;
}
.fst > ul > li > a:hover{
    background-color: black;
    color: red;
    border-radius: 5px;
    
}
.uu{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-image: url('website\ banner.jpg');
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.uu > input{
    width: 400px;
    height: 30px;
    border: 2px solid gray;
}
.uu > div > i{
    padding: 4px 5px;
    font-size: 22px;
    color: red;
    background-color: green;
    cursor: pointer;
}
main{
    background-color:rgba(81, 11, 148, 0.885) ;
    
}
.ll{
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}
.kk{
    display: flex;
    justify-content: space-between;
}
.kkk{
    font-size: 22px;
    color: rgb(24, 165, 24);
    font-weight: bold;
}
.kkkk{
    color: rgb(24, 165, 24);
}
.kkkk  span{
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;

}